@import "~bootstrap/scss/bootstrap.scss";

.bigCounter {
    text-align: center;
    background: black;
}

.bigCounter div{
    display: inline-block;
    font-size: 50px;
    line-height: 50px;
    background: rgb(43, 42, 42);
    color: white;
    padding: 10px;
    margin: 2px;
    width: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
